.t {
  background-color: #222222;
  color: #fff;
  border: 0px;
  padding: 0.5rem 4rem;
}

.t:focus {
  background-color: #00adee;
  border-radius: 0px;
}

.tt {
  width: 20rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* Genarel Pages css */
.default_and_personal_link {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}

.default_and_personal_link:hover {
  color: #00adee;
  cursor: grab;
}
