input::placeholder {
  color: white !important;
}

#registetionbutton {
  background-color: white;
  color: black;
}

#registetionbutton:hover {
  background-color: black;
  color: white;
}

.buttonreg {
  padding: 5px 8px;
  color: black;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid white;
}

.buttonreg:hover {
  background-color: black;
  border: 1px solid black;
  color: #fff;
}

.nav-link {
  text-decoration: none !important;
}

/* test renee code */

.btn {
  background-color: #222222;
  color: #fff;
}

.btn:hover {
  background-color: #00adee;
  border-radius: 0px;
}

.nav-link:after {
  position: absolute;
  background: none;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-pills .nav-link.active {
  background-color: rgb(0, 173, 238);
}
